* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* main part css start */

/* common heading part css start */
.common_head_content {
  text-align: center;
  margin-bottom: 100px;
}

.common_head_content h4 {
  font-weight: 700;
  font-size: 32px;
  color: #000;
}

.common_head_content p {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

/* common heading part css end */

/* service part css start */
.service {
  padding: 100px 0;
}

.service_card {
  color: #000;
  border-radius: 10px;
  padding: 25px 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);

  position: relative;
  overflow: hidden;
  transition: all .4s;
}

.service_card::before {
  content: "";
  width: 250px;
  height: 250px;
  background: #faf8fd;
  border-radius: 50%;

  position: absolute;
  bottom: -32%;
  right: -32%;
  z-index: -1;
  transition: all .4s;
}

.service_card:hover::before {
  transform: scale(5);
  background: #7335b7;
}

.service_card:hover .img_box img,
.service_card:hover .detail_box {
  filter: invert(1);
}

.service_card .img_box {
  text-align: center;
  margin-top: 5px;
}

.service_card .img_box img {
  width: 95px;
}

.service_card .detail_box {
  text-align: center;
  margin-top: 45px;
}

.service_card .detail_box h4 {
  font-weight: 700;
  font-size: 22px;
  color: #000;
}

.service_card .detail_box p {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.service_card .detail_box a {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.service .service_btn {
  text-align: center;
  margin-top: 50px;
}

.service .service_btn a {
  display: inline-block;
  padding: 12px 45px;
  background: #7335b7;
  color: #fff;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;

  transform: translateY(2px);
  transition: all .4s;
}

.service .service_btn a:hover {
  transform: translateY(-2px);
}

/* service part css end */

/* about part css start */
.about {
  background: #7335b7;
  padding: 90px 0;
  border-top-left-radius: 300px;
  border-bottom-right-radius: 300px;
}

.about .about_text h4 {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  margin-bottom: 20px;
}

.about .about_text p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.about .about_btn {
  margin-top: 35px;
}

.about .about_btn a {
  display: inline-block;
  padding: 10px 45px;
  background: #f8842b;
  color: #fff;
  border-radius: 5px;
  font-weight: 300;
  font-size: 16px;

  transform: translateY(2px);
  transition: all .4s;
}

.about .about_btn a:hover {
  transform: translateY(-2px);
}

/* about part css end */

/* study part css start */
.case {
  padding: 100px 0;
}

.case .card {
  border-radius: 0px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
  text-align: center;
}

.case .card .card-body {
  padding: 15px 20px;
}

.case .card img {
  border-radius: 0;
}

.case .card h4 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  transition: all .4s;
}

.case .card:hover h4 {
  color: #7335b7;
}

.case .card p {
  font-weight: 400;
  font-size: 15px;
  color: #000;
}

.case .card a {
  font-weight: 400;
  font-size: 16px;
  color: #7335b7;
}

/* study part css end */

/* testimonial part css start */
.testimonial {
  padding-bottom: 100px;
}

.testimonial .common_head_content {
  margin-bottom: 0;
}

.testimonial .carousel-item {
  text-align: center;
}

.testimonial .carousel-item img {
  transform: translateY(85px);
  border-radius: 50%;
}

.testimonial .carousel-item .carousel-text {
  background: #7335b7;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.testimonial .carousel-item .carousel-text h4 {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
}

.testimonial .carousel-item .carousel-text h5 {
  font-weight: 400;
  font-size: 20px;
  color: #f8842b;
}

.testimonial .carousel-item .carousel-text i {
  font-size: 33px;
  color: #fff;
  margin-bottom: 25px;
}

.testimonial .carousel-item .carousel-text p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.testimonial .carousel-indicators {
  bottom: -90px;
  align-items: center;
}

.testimonial .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7335b7;
  opacity: 1;
}

.testimonial .carousel-indicators .active {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #f8842b;
}

/* testimonial part css end */

/* contact part css start */
.contact {
  padding: 90px 0;
}

.contact_form {
  padding-right: 30px;
}

.contact_form h4 {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 50px;
}

.contact_form input {
  width: 100%;
  height: 50px;
  background: transparent;
  color: #000;
  border: 1px solid #a5a5a5;
  border-radius: 0px;
  padding-left: 15px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
}

.contact_form #message {
  resize: none;
  width: 100%;
  height: 120px;
  color: #000;
  background: transparent;
  border: 1px solid #a5a5a5;
  border-radius: 0px;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 18px;
}

.contact_form button {
  padding: 10px 65px;
  color: #fff;
  background: #7335b7;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transform: translateY(2px);
  transition: all .4s;
}

.contact_form button:hover {
  transform: translateY(-2px);
}

/* contact part css end */

/* main part css end */

/* footer part css start */
.footer {
  background: #7335b7;
  padding: 90px 0;
  border-top-left-radius: 300px;
}

/* footer content part start */
.ftr_content .ftr_head {
  font-weight: 600;
  font-size: 33px;
  color: #fff;
  margin-bottom: 30px;
}

.ftr_content .ftr_info p {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.ftr_content .ftr_link {
  padding: 0 40px;
}

.ftr_content .ftr_link a {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
}

.ftr_content .ftr_link a:hover {
  color: #f8842b;
}

.ftr_content .ftr_membership .sub input {
  width: 100%;
  background: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  padding-left: 10px;
}

.ftr_content .ftr_membership .sub input::placeholder {
  color: #fff;
}

.ftr_content .ftr_membership .sub button {
  width: 100%;
  color: #fff;
  background: #f8842b;
  font-weight: 400;
  font-size: 18px;
  border: none;
  padding: 12px 0;
  margin-top: 20px;
  transform: translateY(2px);
  transition: all .4s;
}

.ftr_content .ftr_membership .sub button:hover {
  transform: translateY(-2px);
}

.ftr_content .ftr_membership .sub button:focus {
  border: none;
}

.ftr_content .ftr_address {
  padding: 0 40px;
}

.ftr_content .ftr_address a {
  display: block;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-bottom: 25px;
}

.ftr_content .ftr_address a span {
  padding-left: 10px;
}

.ftr_content .ftr_address a:hover {
  color: #f8842b;
}

/* footer content part end */

/* footer part css end */